<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      ShareBoard
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click) = "onAddButtonClicked()">追加</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-buttons>
    <ion-button (click) = "get()">Get</ion-button>
  </ion-buttons>

  <ion-grid>
    <ion-row>
        <ion-col *ngFor = "let share of shareList">
          <ion-item class="center" (click)="onItemClicked(share)">
             <ion-card class="contents">
               <ion-card-content>
                <h2>{{ share.content }}</h2>
               </ion-card-content>
              </ion-card>
          </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" expandable (click)="onDeleteClicked(share)">
              削除
              </ion-item-option>
            </ion-item-options>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
